In [1]:
import pandas as pd

In [2]:
# Lendo base
data = pd.read_csv('dataIDR.csv', sep = ';')
# Quantidade de nulos por coluna
data.isnull().sum()

/home/logcomex/miniconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (25) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

id                  0
estacao_id          0
data                0
tempmax             0
tempmin             0
tempmed             0
tempsec9            0
tempsec15           0
tempsec21           0
tempumi9            0
tempumi15           0
tempumi21           0
umid9               0
umid15              0
umid21              0
umidrel             0
vento10             0
vento2              0
chuva               0
evaporacao          0
insolacao           0
radsolar            0
create_user    453845
update_user    453838
create_time    453845
update_time    453838
dtype: int64

Colunas que possuem células em branco:
* create_user
* update_user
* create_time
* update_time 

Acredito que a melhor estratégia seja excluir todas essas colunas, pois representam uma perda muito pequena de informações em comparação ao tamanho da base, dado que encontram-se vazias para a maioria das linhas. 

No código abaixo as colunas citadas são excluídas:

In [3]:
data.drop(columns=['create_user', 'update_user', 'create_time', 'update_time'])

,id,estacao_id,data,tempmax,tempmin,tempmed,tempsec9,tempsec15,tempsec21,tempumi9,...,umid9,umid15,umid21,umidrel,vento10,vento2,chuva,evaporacao,insolacao,radsolar
0,166,2548070,1977-11-01,25.0,19.8,21.7,22.2,23.6,20.8,18.6,...,69.2,86.3,98.1,87.9,0.0,0.00,9.3,0.0,0.0,0.0
1,167,2548070,1977-11-02,32.8,18.4,25.4,26.6,32.6,24.6,22.8,...,70.9,48.7,83.4,71.6,0.0,0.00,12.6,0.5,0.0,0.0
2,168,2548070,1977-11-03,29.0,20.4,23.3,23.4,25.8,21.8,21.6,...,84.6,79.3,94.6,88.3,0.0,0.00,1.2,2.5,0.0,0.0
3,169,2548070,1977-11-04,21.8,18.8,19.7,19.8,20.8,19.0,19.2,...,94.2,87.1,98.1,94.4,0.0,0.00,22.4,1.3,0.0,0.0
4,170,2548070,1977-11-05,25.2,18.6,20.6,19.8,21.4,19.6,18.8,...,90.4,90.9,98.1,94.4,0.0,0.00,11.0,0.6,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
453840,464191,2653012,2019-12-27,33.4,19.0,26.4,26.2,32.2,26.8,20.8,...,60.2,46.0,68.8,60.9,7777.7,22348.73,0.0,4.6,8.5,7777.7
453841,464192,2653012,2019-12-28,32.8,21.6,24.8,25.6,32.8,22.0,21.2,...,66.5,38.6,66.6,59.5,7777.7,22356.38,0.0,4.5,9.0,7777.7
453842,464193,2653012,2019-12-29,35.2,18.6,27.0,26.4,33.4,27.4,21.4,...,63.0,48.2,58.7,57.1,7777.7,22366.88,0.0,4.5,10.3,7777.7
453843,464194,2653012,2019-12-30,34.2,21.0,25.6,27.2,33.0,23.0,22.2,...,63.7,48.8,76.7,66.4,7777.7,22375.09,0.0,5.0,6.8,7777.7
453844,464195,2653012,2019-12-31,33.2,19.4,25.0,24.8,32.4,24.0,21.6,...,74.7,50.4,83.5,73.0,7777.7,22388.17,0.0,3.4,3.9,7777.7

In [4]:
from datetime import datetime

In [5]:
data1 = pd.read_csv('dataIDR.csv', sep = ';', index_col='data', parse_dates=True)

/home/logcomex/miniconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (25) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [6]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 453845 entries, 1977-11-01 to 2019-12-31
Data columns (total 25 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   id           453845 non-null  int64
 1   estacao_id   453845 non-null  int64
 2   tempmax      453845 non-null  float64
 3   tempmin      453845 non-null  float64
 4   tempmed      453845 non-null  float64
 5   tempsec9     453845 non-null  float64
 6   tempsec15    453845 non-null  float64
 7   tempsec21    453845 non-null  float64
 8   tempumi9     453845 non-null  float64
 9   tempumi15    453845 non-null  float64
 10  tempumi21    453845 non-null  float64
 11  umid9        453845 non-null  float64
 12  umid15       453845 non-null  float64
 13  umid21       453845 non-null  float64
 14  umidrel      453845 non-null  float64
 15  vento10      453845 non-null  float64
 16  vento2       453845 non-null  float64
 17  chuva        453845 non-null  float64
 18  evaporacao   453845 non-null  float64
 19  insolacao    453845 non-null  float64
 20  radsolar     453845 non-null  float64
 21  create_user  0 non-null       float64
 22  update_user  7 non-null       float64
 23  create_time  0 non-null       float64
 24  update_time  7 non-null       object
dtypes: float64(22), int64(2), object(1)
memory usage: 90.0+ MB

In [7]:
data1.head()

,id,estacao_id,tempmax,tempmin,tempmed,tempsec9,tempsec15,tempsec21,tempumi9,tempumi15,...,vento10,vento2,chuva,evaporacao,insolacao,radsolar,create_user,update_user,create_time,update_time
data,,,,,,,,,,,,,,,,,,,,,
1977-11-01,166,2548070,25.0,19.8,21.7,22.2,23.6,20.8,18.6,22.0,...,0.0,0.0,9.3,0.0,0.0,0.0,NaN,NaN,NaN,NaN
1977-11-02,167,2548070,32.8,18.4,25.4,26.6,32.6,24.6,22.8,24.4,...,0.0,0.0,12.6,0.5,0.0,0.0,NaN,NaN,NaN,NaN
1977-11-03,168,2548070,29.0,20.4,23.3,23.4,25.8,21.8,21.6,23.2,...,0.0,0.0,1.2,2.5,0.0,0.0,NaN,NaN,NaN,NaN
1977-11-04,169,2548070,21.8,18.8,19.7,19.8,20.8,19.0,19.2,19.4,...,0.0,0.0,22.4,1.3,0.0,0.0,NaN,NaN,NaN,NaN
1977-11-05,170,2548070,25.2,18.6,20.6,19.8,21.4,19.6,18.8,20.4,...,0.0,0.0,11.0,0.6,0.0,0.0,NaN,NaN,NaN,NaN

In [10]:
data1['2015-01-01':'2016-12-31']

AssertionError: <class 'numpy.ndarray'>

In [31]:
# Criando função pra filtro de data
def filtro_data():
    d1 = input('Digite a data inicial no formato aaaa-mm-dd: ')
    d2 = input('Digite a data final no formato aaaa-mm-dd: ')
    filtro = data1[d1:d2]
    return filtro

filtro_data()

Digite a data inicial no formato aaaa-mm-dd: 2019-01-01
Digite a data final no formato aaaa-mm-dd: 2019-05-01

AssertionError: <class 'numpy.ndarray'>